<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <h2>Welcome to Ionic</h2>
        <ion-list>
            <button class=" item button button-positive" ng-click="login()"> corodovaFacebook</button>
            <button class=" item button button-assertive" ng-click="me()">me</button>
            <button class=" item button button-calm" ng-click="dialog()">dialog</button>
            <button class=" item button button-calm" ng-click="status()">status</button>
            <button class=" item button button-calm" ng-click="logout()">logout</button>
        </ion-list>
    </ion-content>
</ion-view>
